.bottom-cont{
  @include flex-extremos;
  margin-top:4rem;
  @include tablet{
    @include flex-column;
    margin-top:1.5rem;
  }
  li:nth-child(4){
    border: none;
  }
  li{
    margin:0 1.2rem;
    border-right:solid 2px #dddddd;
    padding-right:1rem;
    @include tablet{
      border: none;
      margin:2rem 0;
      padding: 0;
      width:100%;
    }
  }
}