.carrinho{
  background: $bg;
  padding: 3rem 0;
  .titulos{
    @include flex-extremos;
    border-bottom: solid 1px #009dde;
    padding-bottom: .5rem;
    margin-bottom: 1.5rem;
    h1{
      font-size: 1rem;
      font-family: black;
      text-transform: uppercase;
    }
    .preco-titulo{
      @include flex-center;
      h1{
        margin: 0 1rem;
      }
    }
  }
  .lista-carrinho{
    li{
      @include flex-extremos;
      border-bottom: solid 1px #b5b5b5;
      padding-bottom: 1.3rem;
      @include tablet{
        @include flex-column;
      }
      .cont-lista{
        display:flex;
        width:75%;
        @include tablet{
          width:100%;
          flex-direction: column;
        }
        .img-produto{
          background: $branco;
          padding: 1rem 1.5rem;
          margin-right: 2rem;
          @include tablet{
            width: max-content;
            margin-right: 0;
          }
        }
        .prod-carrinho{
          @include flex-column-start;
          width:75%;
          @include tablet{
            width:100%;
          }
          h1{
            font-family: black;
            font-size: 1.8rem;
            margin-bottom:.5rem;
          }
          .cor{
            font-family: black;
            font-weight: bold;
            font-size: 1.2rem;
          }
          .cod{
            font-family: reg;
            font-size: 1.1rem;
            margin-top: .5rem;
          }
        }
      }
      .cont-preco{
        width:25%;
        @include tablet{
          width: 100%;
          margin: 1.5rem 0;
        }
        .preco{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          span{
            font-family: black;
            font-size: 1.2rem;
          }
          input{
            height: 50px;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            width: 45px;
            margin: 0 1rem;
          }
        }
      }
    }
  }
  .sub-total{
    @include flex-end;
    border-bottom: solid 1px #b5b5b5;
    padding:1.5rem 0;
    @include tablet{
      justify-content: flex-start;
    }
    h1{
      font-family: black;
      margin:1rem;
      text-transform: uppercase;
      @include tablet{
        margin-left: 0;
      }
    }
  }
  .desconto-cont{
    @include flex-extremos;
    border-bottom: solid 1px #b5b5b5;
    padding: 1rem 0;
    @include tablet{
      @include flex-column;
    }
    .desconto{
      width: 50%;
      @include tablet{
        width: 100%;
      }
      h1{
        font-family: black;
        margin-bottom:.5rem;
      }
      span{
        font-family: reg;
        font-size:1rem;
      }
      .input-group{
        @include flex-center;
        justify-content: flex-start;
        input{
          border: 1px solid #ced4da;
          border-radius: .25rem;
          transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          height:55px;
          margin: 1rem 0;
          width:300px;
          margin-right:10px;
          font-size:2rem;
          font-family: reg;
        }
        button{
          padding: 0 2.5rem;
          height: 55px;
          background: $borda;
          color: $branco;
          font-family: black;
          border: none;
          border-radius: 5px;
          font-size: 1.3rem;
          &:hover{
            background: darken($color:$borda, $amount: 10);
          }
        }
      }
    }
    .frete{
      width: 50%;
      @include tablet{
        width: 100%;
      }
      h1{
        font-family: black;
        margin-bottom:.5rem;
      }
      span{
        font-family: reg;
        font-size:1rem;
      }
      .input-group{
        @include flex-center;
        justify-content: flex-start;
        input{
          border: 1px solid #ced4da;
          border-radius: .25rem;
          transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          height:55px;
          margin: 1rem 0;
          width:300px;
          margin-right:10px;
          font-size:2rem;
          font-family: reg;
        }
        button{
          padding: 0 2.5rem;
          height: 55px;
          background: $borda;
          color: $branco;
          font-family: black;
          border: none;
          border-radius: 5px;
          font-size: 1.3rem;
          &:hover{
            background: darken($color:$borda, $amount: 10);
          }
        }
      }
    }
  }
  .total{
    @include flex-end;
    border-bottom: solid 1px #b5b5b5;
    padding:1.5rem 0;
    @include tablet{
      justify-content: flex-start;
    }
    h1{
      font-family: black;
      margin:1rem;
      text-transform: uppercase;
      @include tablet{
        margin-left: 0;
      }
    }
  }
  .finalizar{
    @include flex-center;
    margin: 2rem 0;
    .cartoes{
      @include flex-extremos;
      @include tablet{
        @include flex-start;
      }
      flex-wrap: wrap;
      margin-bottom: 4rem;
      ul{
        @include flex-center;
        @include tablet{
          justify-content: flex-start;
        }
        flex-wrap: wrap;
        li{
          margin: 0 .5rem;
          @include tablet{
            padding:1rem 1.2rem;
            margin: 0;
          }
        }
      }
      button{
        background: $btn-comprar;
          border:none;
          color:$branco;
          font-family: black;
          padding: 1.3rem 2rem;
          font-size:1.5rem;
          border-radius: 7px;
          margin-left: 2rem;
          &:hover{
            background: darken($color:$btn-comprar, $amount: 10);
          }
          @include tablet{
            margin: 1rem 0;
          }
      }
    }
  }
}