.categoria-interna{
  background: $bg;
  padding-bottom: 3rem;
  .breadcrumb{
    padding:1rem 0;
    margin-bottom: 2rem;
    background: none;
    @include tablet{
      font-size: .8rem;
    }
    .breadcrumb-item{
      &::before{
        color: $texto;
      }
      a{
        color: $texto;
        font-family: black;
      }
    }
    .breadcrumb-item.active{
      color: $texto;
      font-family: black;
    }
  }
  .linha{
    @include flex-center-start;
    @include tablet{
      flex-direction:column-reverse;
    }
    .col-small{
      width:23%;
      margin-right: 1rem;
      margin-top:2px;
      @include tablet{
        width:100%;
      }
      ul.box-categoria{
        li:nth-child(1){
          border:none;
        }
        li:last-child{
          border: none;
        }
        li{
          border-bottom: dotted 1px $secundaria;
          padding:.5rem 0;
          a{
            color: #000;
            font-family: black;
            text-decoration: none;
            &:hoveR{
              color: $texto;
            }
          }
        }
      }
    }
    .col-big{
      width:79%;
      @include tablet{
        width: 100%;
      }
      header{
        font-family:black;
        color: $txt-cinza;
        border-bottom: solid 1px;
        padding-bottom: 1rem;
        @include flex-extremos;
        @include tablet{
          font-size: .8rem;
        }
        .selectgroup{
          width:max-content;
          background-color:$bg;
          @include flex-center;
        }
        .group-pagination{
          width:max-content;
          @include flex-center;
          @include tablet{
            @include flex-column;
          }
          nav{
            ul{
              @include margin-zero;
            }
            .pagination-sm .page-link{
              background: none!important;
              border: none;
              padding: 0 10px;
            }
            a.page-link{
              color: $texto;
            }
          }
        }
        .custom-select{
          background-color: inherit;
          margin:0 1rem;
          color: $txt-cinza;
        }
        label{
          @include margin-zero;
          text-transform: uppercase;
          font-family: light;
          font-weight: bold;
        }
      }
    }
  }
  .filtro-footer{
    @include flex-end;
    .group-pagination{
      @include flex-center;
      .custom-select{
          background-color: inherit;
          margin:0 1rem;
          color: $txt-cinza;
          font-family: black;
        }
        label{
          @include margin-zero;
          text-transform: uppercase;
          font-family: light;
          font-weight: bold;
          color: $txt-cinza;
        }
        ul{
          @include margin-zero;
        }
        .pagination-sm .page-link{
          background: none!important;
          border: none;
          padding: 0 10px;
          font-family: black;
        }
        a.page-link{
          color: $texto;
        }
    }
  }
}