.contato{
  background: $bg;
  padding:4rem 0;
  @include tablet{
    padding:1.5rem 0;
  }
  .cont-contato{
    padding:4rem 0;
    border-top: solid 2px $borda;
    @include flex-extremos-start;
    height:65vh;
    @include tablet{
      @include flex-column;
      height: auto;
      padding:2rem 0;
    }
    .texto-contato{
      font-family: medium;
      font-weight:600;
      width:50%;
      font-size: 1.3rem;
      @include tablet{
        width: 100%;
        padding:1rem;
      }
      p:nth-child(1){
        @include margin-zero;
      }
      .email-contato{
        color: $texto;
      }
      address{
        margin-top: 2rem;
      }
      .btn-padrao{
        margin-top:2rem;
        font-size: 1rem;
      }
    }
    form{
      width:50%;
      @include tablet{
        width: 100%;
        padding: 1rem;
        margin-top: 2rem;
      }
      input{
        height:60px;
      }
      .group-form{
        @include flex-end;
      }
    }
  }
}