.faq{
  background: $bg;
  padding: 3rem 0;
  @include tablet{
    padding: 1.5rem 0;
  }
  h1{
    @include margin-zero;
    font-size: 1.2rem;
    font-family: black;
    margin-bottom:1rem;
  }
  .faq-content{
    border-top: solid 2px $borda;
    padding-top: 2rem;
    .faq-conteudo{
      margin:2rem 0;
      li{
        font-size:1rem;
        a{
          font-weight: bold;
          text-decoration: underline;
        }
        a:last-child{
          text-decoration: none;
        }
      }
      li:last-child{
        margin: 1rem 0;
      }
      p{
        font-size: 1rem;
      }
    }
    .outras-duvidas{
      margin:4rem 0;
      li:nth-child(1){
        text-transform: uppercase;
        font-family: light;
        font-weight: bold;
        font-size: 1.2rem;
      }
      li{
        font-size:1.2rem;
        font-family: black;
        margin: 1rem 0;
      }
    }
  }
}