.titulo-secao{
  background: red;
  color: $branco;
  text-transform: uppercase;
  width:100%;
  padding:2rem 4rem;
  background: rgb(42,114,183);
  background: linear-gradient(50deg, rgba(42,114,183,1) 0%, rgba(0,157,224,1) 100%);
  font-family: reg;
  @include tablet{
    padding:1.5rem;
  }
  h1{
    margin: 0 auto;
  }
}
.titulo-interno{
  font-size: 2rem;
  border-bottom: solid 2px $borda;
  padding-bottom: .5rem;
  font-family: black;
  @include tablet{
    font-size: 1.5rem;
  }
}
.btn-padrao{
  background: rgb(42,114,183);
  background: linear-gradient(50deg, rgba(42,114,183,1) 0%, rgba(0,157,224,1) 100%);
  color: $branco;
  border: none;
  padding: .8rem 2.5rem;
  border-radius: 25px;
  text-decoration: none;
  font-family: medium;
  &:hover{
    color: $branco;
    background: linear-gradient(50deg,rgba(0,157,224,1)  0%, rgba(42,114,183,1) 100%);
    text-decoration:none;
  }
}
.btn-form{
  background: rgb(42,114,183);
  background: linear-gradient(50deg, rgba(42,114,183,1) 0%, rgba(0,157,224,1) 100%);
  color: $branco;
  border: none;
  padding: .8rem 2.5rem;
  border-radius: 25px;
  text-decoration: none;
  font-size:1rem;
  font-weight: bold;
  font-family: medium;
  &:hover{
    color: $branco;
    background: linear-gradient(50deg,rgba(0,157,224,1)  0%, rgba(42,114,183,1) 100%);
    text-decoration:none;
  }
}
.bg{
  background-color: $bg;
}
.small{
  max-width: 1100px;
  margin: 0 auto;
}
.chamada-categoria:first-child{
  padding-bottom: 1rem;
  padding-top:5px;
  
}
.chamada-categoria{
  color: $texto;
  font-family: light;
  text-transform: uppercase;
  font-size: 1.2rem;
  @include margin-zero;
  border-bottom: solid 1px $txt-cinza;


}

.apresentacao-produto{
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top:1rem;
  @include tablet{
    justify-content: center;
  }
  li{
    @include flex-column;
    margin:5px;
    background: $branco;
    padding:1rem 2.3rem;
    width:220px;
    text-align: center;
    border-radius:2px;
    box-shadow: 0px 0px 1px 0px rgba(123,123,123,1);
    @include tablet{
      width:100%;
    }
    img{
      width:120px;
      margin-bottom:2rem;
    }
    .nome-produto{
      text-transform: uppercase;
      word-break: break-word;
      font-family: black;
      color: $secundaria;
      height: 50px;
    }
    .marca-produto{
      color: $secundaria;
      font-family: medium;
      text-align:center;
      text-transform: uppercase;
      font-size:.8rem;
      height:38px;
    }
    .promocao{
      color:$destaque;
      font-family: medium;
      margin-top:10px;
      font-size:.8rem;
    }
    .preco{
      font-size:1.5rem;
      font-family: black;
      color: $secundaria;
      margin-bottom: 1.2rem;
    }
    button{
      background: $btn-comprar;
      border:none;
      color:$branco;
      font-family: black;
      padding:1rem 2rem;
      border-radius: 7px;
      &:hover{
        background: darken($color:$btn-comprar, $amount: 10);
      }
    }
  }
}

iframe {
  @include tablet{
    width:100%;
  }
}