.cabecalho{
  .topo{
    background: $topo;
    color: $branco;
    font-family: medium;
    font-size:.8rem;
    padding:.6rem 0;
    @include tablet{
      font-size: .6rem;

    }
    .cont-topo{
      @include flex-extremos;
    }
    a{
      text-decoration: none;
      color: $branco;
      @include tablet{
        display: none;
      }
      &:hover{
        color: $branco;
      }
    }
  }
  .central{
    .cont-central{
      padding-top: 2rem;
      @include flex-extremos;
      @include tablet{
        @include flex-column;
      }
      .menu{
        @include flex-center;
        font-size:1.2rem;
        font-family:black;
        a{
          color:#000;
          text-decoration: none;
        }
        span{
          margin-left:.7rem;
          text-transform: uppercase;
        }
      }
      .filtro{
        width:50%;
        @include tablet{
          width: 100%;
          margin:1.5rem 0;
        }
        input{
          height:60px;
          border-radius:0;
          border-top-left-radius: .40rem;
          border-bottom-left-radius: .40rem;
          font-family: medium;
        }
        button{
          background: #80c4f1;
          color: $branco;
          font-family: medium;
          font-weight:600;
          &:hover{
            background: darken($color: #80c4f1, $amount: 10)
          }
          span{
            margin-left:1rem;
          }
        }
      }
      ul{
        @include flex-center;
        @include tablet{
          margin-top:1rem;
        }
        li{
          margin:0 .5rem;
        }
      }
    }
  }
  .inferior{
    .menu-produto{
     
      ul{
        @include flex-center;
        @include tablet{
          display: none;
          flex-direction: column;
          background:#80c4f1;
        }
        li{
          @include tablet{
            width:100%;
            padding:10px;
            border-bottom: solid 1px $branco;
          }
          img{
            width:20px;
          }
          a{
            color:$texto;
            text-decoration: none;
            font-family: black;
            text-transform: uppercase;
            font-size: .6rem;
            padding: .3rem;
            @include tablet{
              color:$branco;
              font-size:.8rem;
            }
            &:hover{
              color:$secundaria;
            }
          }
        }
      }
    }
  }
}
.icone-hamburger{
  display:none;
  @include tablet{
    display:flex;
  }
}