.banner{
  padding: 3rem 0;
  @include tablet{
    padding: 1.5rem 0;
  }
  .banner-interno{
    background: url('../imgs/banner.png')no-repeat;
    background:cover;
  }
  .carousel-control-next{
    right:-150px;
    @include tablet{
      display:none;
    }
  }
  .carousel-control-prev {
    left: -150px;
    @include tablet{
      display:none;
    }
  }
  .carousel-control-prev-icon{
    width:15px;
    height: 15px;
  }
  .carousel-control-next-icon{
    height:15px;
    width:15px;
  }
}
//Categoria destaque
.cat-destaque{
  padding:3rem 0;
  @include tablet{
    padding:1.5rem 0;
  }
  h1{
    font-family: light;
    text-transform: uppercase;
    color:$t-destaque;
    font-size: 1.2rem;
    font-weight: bold;
  }
  ul{
    @include flex-center;
    flex-wrap: wrap;
    li{
      position: relative;
      a{
        text-decoration: none;
        @include flex-center;
        width:100%;
      }
      img{
        width: 240px;
        margin: 1px;
      }
      span{
        text-transform: uppercase;
        color: $branco;
        position: absolute;
        z-index:1;
        font-size: 1rem;
        left: 0;
        width:100%;
        text-align: center;
        text-shadow: 2px 2px 2px #000000;
      }
    }
    
  }
}
//Produto destaque
.produto-destaque{
  padding: 3rem 0;
  @include tablet{
    padding:1rem 0;
  }
  .txt-destaque{
    color: $texto;
    font-family: black;
  }
  .linha:nth-child(2){
    @include flex-center-start;
  }
  .linha{
    @include flex-center-end;
    @include tablet{
      @include flex-column;
    }
    .col-small{
      width:25%;
      @include tablet{
        width:100%;
        padding: 1rem;
      }
    }
    .col-big{
      width:75%;
      @include tablet{
        width:100%;
        padding: 1rem;
      }
    }
  }
  header{
    @include flex-start;
    .cont-btn{
      margin-left:1rem;
      @include tablet{
        @include flex-column;
        align-items: flex-start;
        margin-left:0;
      }
      .btn-destaque{
        font-family: medium;
        color:$txt-cinza;
        text-transform: uppercase;
        border:0;
        background: none;
        margin: 0 .5rem;
        @include tablet{
          margin:.5rem 0;
        }
        &:hover{
          color: #009cdd;
        }
      }
      .btn-ativo{
        background: #009cdd!important;
        color: $branco!important;
        padding:1.5rem 2.3rem;
        border-radius:10px;
        &:hover{
          background: darken($color:#009cdd, $amount: 10)!important;
        }
      }
    }
  }

  nav{
    margin-top: 1.3rem;
    background:$branco;
    width: 300px;
    padding:.4rem 1rem;
    border-radius:2px;
    box-shadow: 0px 0px 1px 0px rgba(123,123,123,1);
    @include tablet{
      width:100%;
    }
    ul{
      li:last-child{
        border: none;
      }
      li{
        border-bottom: dotted 1px $secundaria;
        padding:.5rem 0;
        a{
          color: #000;
          font-family: black;
          text-decoration: none;
          &:hover{
            color: $texto;
          }
        }
      }
    }
  }
}

//Banner produtos
.banner-produto{
  padding:2rem 0;
  ul{
    @include flex-extremos;
    flex-wrap:wrap;
    @include tablet{
      justify-content: center;
    }
    li{
      a{
        color:$branco;
        font-size:2.5rem;
        font-family: black;
        text-decoration: none;
        img{
          width:405px;
          margin-bottom:1rem;
        }
      }
    }
  }
}