
@mixin flex-extremos{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
@mixin flex-center{
    display:flex;
    justify-content:center;
    align-items:center;
}
@mixin flex-end{
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
@mixin flex-center-end{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@mixin flex-column{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
@mixin flex-column-start{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content:center;
}
@mixin flex-extremos-start{
    display: flex;
    justify-content:space-between;
    align-items:flex-start;
}
@mixin flex-center-start{
    display:flex;
    justify-content: center;
    align-items:flex-start;
}
@mixin flex-start{
    display:flex;
    align-items:flex-start;
}
@mixin wrap{
    flex-wrap: wrap;
}
@mixin d-none{
    display:none;
}
@mixin titulo-secao{
    .title-secao{
        background:$primaria;
        color: $branco;
        padding: 2.5rem 0;
        @include tablet{
            margin-top:1rem;
        }
        h1{
            font-size:2rem;
            padding:0 1.5rem;
            @include tablet{
                font-size:1.5rem;
            }
            @include mobile{
                text-align:center;
            }
        }
    }
}
@mixin margin-zero{
    margin:0;
}
@mixin btn-padrao{
    padding: 13px 20px;
    border-radius: 12px;
    border: none;
    cursor:pointer;
    &:hover{
        background:darken($primaria, 6%);
    }
    @include tablet{
        padding: 10px 15px;
        border-radius:8px;
    }
}
@mixin transition{
    transition: all .2s ease-out;
}
@mixin transform{
    transform: scale(1.1);
}