.politicas{
  background: $bg;
  padding: 3rem 0;
  h1{
    font-size: 1rem;
    font-family: black;
  }
  .cont-politicas{
    border-top: solid 2px $borda;
    padding-top: 2rem;
    @include flex-center-start;
    @include tablet{
      @include flex-column;
    }
    h1{
      font-size: 1.2rem;
    }
    nav{
      width:25%;
      @include tablet{
        width:100%;
        margin-bottom:2rem;
      }
      li{
        padding:.5rem 0;
        a{
          text-decoration: none;
          color: #000;
          font-family: black;
          font-size: 1.2rem;
          &:hover{
            color: $texto;
          }
        } 
      }
    }
    .texto{
      width:75%;
      @include tablet{
        width:100%;
      }
      .politica{
        margin-bottom: 3rem;
        p{
          font-size:1rem;
          font-family: medium;
          margin-bottom:1.5rem;
        }
        strong{
          color: $texto;
          font-size: 1rem;
        }
      }
    }
  }
}