.produto-interno{
  background: $bg;
  padding-bottom: 3rem;
  .breadcrumb{
    padding:1rem 0;
    margin-bottom: 2rem;
    background: none;
    @include tablet{
      font-size:.8rem;
    }
    .breadcrumb-item{
      &::before{
        color: $texto;
      }
      a{
        color: $texto;
        font-family: black;
      }
    }
    .breadcrumb-item.active{
      color: $texto;
      font-family: black;
    }
  }
  .cont-destaque{
    @include flex-extremos-start;
    margin-bottom: 2rem;
    @include tablet{
      @include flex-column;
    }
    .img{
      width:50%;
      @include tablet{
        width:100%;
      }
      .img-destaque{
        background: $branco;
        @include flex-center;
        border-radius:2px;
        box-shadow: 0px 0px 1px 0px rgba(123,123,123,1);
        margin-bottom:1rem;
      }
      aside{
        @include flex-extremos;
        .seguranca{
          @include flex-center;
          span{
            font-size: 12px;
            font-family: black;
            text-transform: uppercase;
            color: $txt-cinza;
            margin-left: 10px;
          }
        }
      }
    }
    .texto-destaque{
      width: 50%;
      margin-left:3rem;
      display: flex;
      flex-direction: column;
      @include tablet{
        width:100%;
        margin:1rem 0;
      }
      h1{
        font-family: black;
        font-size: 2rem; 
        word-break: break-word;
        @include margin-zero;
        margin-bottom:10px;
      }
      .codigo-produto{
        color: $texto;
        font-family: black;
      }
      .caract-produto{
        font-family: black;
        margin-top:1rem;
      }
      .caract-lista{
        font-family: medium;
      }
      .preco-destaque{
          color: $texto;
          font-family: black;
          margin-bottom: .8rem;
      }
      .input-group{
        display: flex;
        align-items: center;
        font-family: medium;
        margin-top:10px;
        label{
          margin-bottom: 0;
          margin-right: 1rem;
        }
        input{
          height: 50px;
          border: 1px solid #ced4da;
          border-radius: .25rem;
          transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        input#number{
          width: 70px;
          margin-right: 1rem;
          font-size: 1rem;
          text-align: center;
        }
        .comprar{
          background: $btn-comprar;
          border:none;
          color:$branco;
          font-family: black;
          padding: 1rem 2rem;
          font-size: 2rem;
          border-radius: 7px;
          margin-left: 2rem;
          @include tablet{
            margin: 1.5rem 0;
          }
          &:hover{
            background: darken($color:$btn-comprar, $amount: 10);
          }
        }
      }
      .frete{
        font-family: medium;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 1.5rem;
        input{
          width:225px;
          height: 60px;
          font-size: 1rem;
          text-align: center;
        }
        button{
          background: #296aaa;
          color: $branco;
          padding:1.3rem 1.7rem;
          border-radius:7px;
          border: none;
          font-family: black;
          margin-left:.5rem;
          text-transform: uppercase;
          &:hover{
            background: darken($color:#296aaa, $amount: 10);
          }
        }
      }
    }
  }
}
.cores-disponiveis{
  header{
    border-bottom: solid 1px $borda;
    padding-bottom:.5rem;
    margin-bottom:1.5rem;
    h1{
      font-size:1rem;
      font-family: black;
      text-transform: uppercase;
    }
  }
  .lista-cores{
    @include flex-center;
    flex-wrap: wrap;
    li{
      @include flex-column;
      margin:0 .5rem;
      @include tablet{
        margin: 1.5rem 1rem;
      }
      .img-cores{
        background: $branco;
        width:100%;
        @include flex-center;
        padding: 1rem 1.5rem;
      }
      .txt-cores{
        @include flex-column;
        font-family: black;
        margin:1rem 0;
        font-size:.9rem;
        text-align: center;
        span:nth-child(2){
          font-size:10px;
        }
      }
      .input-group{
        @include flex-center;
        label{
          font-family:medium;
          margin-right:1rem;
          font-weight: bold;
          margin-bottom: 0;
          color: $txt-cinza;
        }
        input#number{
          width: 50px;
          font-size: 1rem;
          text-align: center;
          height: 40px;
          border: 1px solid #ced4da;
          border-radius: .25rem;
          transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          overflow: visible!important;
        }
      }
    }
  }
}

.add-btn{
  @include flex-center;
  margin: 2.5rem 0;
  button{
    background: $btn-comprar;
    border:none;
    color:$branco;
    font-family: medium;
    padding: 1.3rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 7px;
    margin-left: 2rem;
    @include tablet{
      margin: 0;
    }
    &:hover{
      background: darken($color:$btn-comprar, $amount: 10);
    }
    span{
      margin-left: 1rem;
    }
  }
}

.info-produto{
  @include flex-extremos-start;
  margin:4rem auto;
  @include tablet{
    @include flex-column;
  }
  .txt-info{
    width:50%;
    margin-right: 3rem;
    @include tablet{
      width:100%;
      margin-right: 0;
    }
    h1{
      font-family:black;
      font-size:1.2rem;
      text-transform: uppercase;
      border-bottom: solid 1px $borda;
      padding-bottom: 1rem;
    }
    p{
      font-family:medium;
      font-size:.9rem;
      word-break: break-word;
      max-width: 500px;
    }
  }
  .opiniao{
    width:50%;
    @include tablet{
      width:100%;
    }
    h1{
      font-family:black;
      font-size:1.2rem;
      text-transform: uppercase;
      border-bottom: solid 1px $borda;
      padding-bottom: 1rem;
    }
    button{
      background: transparent;
      border: solid 1px $borda;
      padding:1rem 2rem;
      border-radius: 8px;
      text-transform: uppercase;
      color: $borda;
      font-family: black;
      margin-top:.5rem;
      &:hover{
        background: $borda;
        color: $branco;
      }
    }
  }
}

.relacionados-prod{
  h1{
    font-family:black;
    font-size:1.2rem;
    text-transform: uppercase;
    border-bottom: solid 1px $borda;
    padding-bottom: 1rem;
  }
  .apresentacao-produto li{
    width:204px;
  }
}
//cor do produto
.coresDisponiveis{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  flex-wrap: wrap;
  span{
    font-family: black;
    margin-bottom: .5rem;
  }
  .coresProduto{
    display:flex;
    li{
      background:#fff;
      padding: 3px;
    }
    img{
      width:55px;
      height:55px;
    }
  }
}

.qualidade{
  height: 17px;
  width: 80px;
  object-fit: cover;
}