.quemSomos{
  padding:4rem 0;
  p{
    font-family: medium;
    font-size:1rem;
  }
  .banner-quemSomos{
    margin:2rem 0;
  }
  .video{
    @include flex-center;
    margin:2rem;
    @include tablet{
      margin: 0;
      iframe{
        @include tablet{
          width:100%;
          height: auto;
        }
      }
    }
  }
}