$mobile:600px;
$tablet: 900px;
$desktop: 1024px;

/* MIXINS RESPONSIVO */
@mixin mobile {
    @media only screen and (max-width: $mobile) {
        @content;
    }
}
@mixin tablet {
    @media only screen and  (max-width: $tablet) {
        @content;
    }
}
@mixin desktop {
    @media only screen and (max-width: $desktop) {
        @content;
    } 
}