footer{
  padding-top:4.5rem;
  @include tablet{
    padding-top:1.5rem;
  }
  .topo{
    @include flex-extremos-start;
    padding-bottom: 3rem;
    @include tablet{
      padding-bottom:1.5rem;
      @include flex-column;
    }
    .assine{
      @include flex-center;
      width:50%;
      @include tablet{
        width: inherit;
      }
      ul{
        margin-left:1rem;
        li:nth-child(1){
          color: $texto;
          font-family: black;
          text-transform: uppercase;
          font-size:1.2rem;
        }
        li:nth-child(2){
          font-size:.8rem;
          font-family:medium;
          font-weight:400;
          color: $txt-rodape;
        }
      }
    }
    .filtro-footer{
      width:50%;
      @include tablet{
        width: inherit;
      }
      input{
        height:60px;;
      }
      button{
        background: #80c4f1;
        color: $branco;
        font-family: medium;
        font-weight:600;
        padding:0 2rem;
        &:hover{
          background: darken($color: #80c4f1, $amount: 10)
        }
      }
    }
  }
  .central{
    border-top: solid 1px #a1a1a1;
    border-bottom:solid 1px #a1a1a1;
    padding-top:3rem;
    padding-bottom:2rem;
    .cont-central{
      @include flex-extremos-start;
      @include tablet{
        @include flex-column;
        align-items: flex-start;
      }
      address{
        font-family: medium;
        color: $txt-rodape;
        ul{
          li{
            margin: .5rem 0;
            font-size:14px;
            strong{
              font-size:1.5rem;
            }
            a{
              color: $texto;
              text-decoration: none;
              font-size:14px;
            }
          }
        }
      }
    }
    ul.social-rodape{
      @include flex-center;
      max-width:720px;
      @include tablet{
        max-width:inherit;
        justify-content: flex-start;
      }
      @include margin-zero;
      li{
        padding:.5rem;
        a{
          img{
            // width:30px;
          }
        }
      }
    }
    ul.mapaSite{
      li:nth-child(1){
        text-transform: uppercase;
        font-family: black;
      }
      li{
        margin: .5rem 0;
        font-size:14px;
        strong{
          font-size:1.5rem;
        }
        a{
          color:$txt-rodape;
          text-decoration: none;
          font-size:14px;
          &:hover{
            color: $texto;
          }
        }
      }
    }
    ul{
      li{
        margin: .5rem 0;
        font-size:14px;
        strong{
          font-size:1.5rem;
        }
        a{
          color:$txt-rodape;
          text-decoration: none;
          font-size:14px;
          &:hover{
            color: $texto;
          }
        }
      }
    }
  }
  .bottom{
    @include flex-extremos-start;
    padding-top:1.5rem;
    @include tablet{
      @include flex-column;
    }
    .seguranca{
      text-align: center;
      span{
       font-family: medium;
       font-size:14px;
       margin-bottom:1rem;
      }
      ul{
        @include flex-center;
        @include tablet{
          flex-wrap: wrap;
        }
      }
    }
    .formapagamento{
      text-align: center;
      span{
        font-family: medium;
        font-size:14px;
       
      }
      ul{
        @include flex-center;
        margin-top: 1rem;
        li{
          @include tablet{
            margin:0 .5rem;
          }
        }
        @include tablet{
          flex-wrap: wrap;
        }
      }
    }
    .jazzz{
      @include flex-column;
      span{
        font-family: medium;
        font-size:14px;
        margin-bottom:1rem;
      }
    }
  }
}