.trabalhe{
  background: $bg;
  padding:4rem 0;
  @include tablet{
    padding:1.5rem 0;
  }
  .cont-trabalhe{
    padding:4rem 0;
    border-top: solid 2px $borda;
    @include flex-extremos-start;
    height:65vh;
    @include tablet{
      @include flex-column;
      height: auto;
      padding:2rem 0;
    }
    .texto-trabalhe{
      font-family: medium;
      font-weight:600;
      width:50%;
      font-size: 1.3rem;
      @include tablet{
        width: 100%;
        padding:1rem;
      }
      p:nth-child(1){
        @include margin-zero;
      }
      .email-trabalhe{
        color: $texto;
      }
      address{
        margin-top: 2rem;
      }
      .btn-padrao{
        margin-top:2rem;
        font-size: 1rem;
      }
    }
    form{
      width:50%;
      @include tablet{
        width: 100%;
        padding: 1rem;
        margin-top: 2rem;
      }
      input{
        height:60px;
      }
      .group-form{
        @include flex-end;
      }
    }
  }
}

//curriculo
.curriculo{
  span{
    font-family: medium;
    color: $secundaria;
  }
  .input-file{
    display:none;
  }
  .label-file{
    background: rgb(42,114,183);
    background: linear-gradient(50deg, rgba(42,114,183,1) 0%, rgba(0,157,224,1) 100%);
    color: $branco;
    font-family: medium;
    padding:.5rem 1.5rem;
    margin-top:1rem;
    font-size: 1.2rem;
    border-radius:5px;
    font-weight: bold;
    &:hover{
      color: $branco;
      background: linear-gradient(50deg,rgba(0,157,224,1)  0%, rgba(42,114,183,1) 100%);
      text-decoration:none;
    }
  }
}