@import 'responsivo';
@import "cores";
@import "mixin";
@import 'header';
@import 'rodape';
@import 'modal';
@import 'geral';
@import 'index';
@import 'bottom';
@import 'quemSomos';
@import 'categoriaProduto';
@import 'produtoDestaque';
@import 'politicas';
@import 'faq';
@import 'carrinho';
@import 'contato';
@import 'trabalheConosco';


html {scroll-behavior: smooth;}

@font-face {
    font-family:black;
    src: url('fonts/Lato-Black.ttf');
}
@font-face {
    font-family:reg;
     src: url('fonts/Lato-Regular.ttf');
}
@font-face {
    font-family:bold;
     src: url('fonts/Lato-Bold.ttf');
}
@font-face {
    font-family: medium;
     src: url('fonts/Lato-Medium.ttf');
}
@font-face {
    font-family: light;
     src: url('fonts/Lato-Light.ttf');
}
